@charset "UTF-8";

@font-face {
    font-family: 'xilosa';
    src: url('../fonts/xilosa_.ttf')format('opentype'),url('../fonts/xilosa_.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cordel';
    src: url('../fonts/cordel_encarnadoII.otf')format('opentype'),url('../fonts/cordel_encarnadoII.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0: #f84664; /*cor link cabeçalho*/    
    --cor1: #fca6b4; /*cor link cabeçalho hover*/
    --cor2: #eaf0dd; /*cor.normal*/
    --cor3: #333333; /*cor .imagem*/  
    --cor4: #0000004d; /*cor .imagem p*/  

    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'xilosa', cursive;
    --fonte3: 'cordel', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    min-height: 97vh;    
    font-family: var(--fonte1);    
}

header {              
    background-image: url('../imagens/backgroud-image_cab.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;             
    text-align: center;   
    color: black; 
    padding-bottom: 35px;  
    box-shadow: 0px 0px 10px rgb(0 0 0 / 52%);            
}

header > h1 {
    padding-top: 50px;    
    font-family: var(--fonte3);    
    font-size: 8vw;                
}

header > p {
    padding-top: 40px;
    padding-bottom: 50px;  
    font-family: var(--fonte3);
    font-size: 1.3em;      
}
        
header a {
    text-decoration: none; 
    font-style: italic;  
}

header a:visited {
    color: var(--cor0); 
}

header a:hover{
    text-decoration: none;
    color:var(--cor1);
}

section {      
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;    
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 5vw;
    font: bolder;                
}

section > p {        
    padding-bottom: 2em;       
}

.normal {
    background-color: var(--cor2);
    color: black;    
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);       
}

.imagem{
    background-color: var(--cor3);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(0 0 0 / 47%);
    background-attachment: fixed;
    background-repeat: no-repeat;    
} 

.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: var(--cor4);
    text-shadow: 1px 1px 0px black;
    border-radius: 20px;
}

#img01 {
    background-image: url('../imagens/backgroud-image1.jpg');    
    background-size: cover;
    background-position: center center;
}

#img02{
    background-image: url('../imagens/backgroud-image2.jpg');
    background-size: cover;
    background-position: center center;
    
}

footer > p {
    background-color: black;      
    color: white;
    font-size: 0.9em;
    text-align: center;     
    padding: 10px;    
}
        
footer a {
    color: white;
    text-decoration: none; 
    font-style: italic; 
    text-decoration: underline;       
}

footer a:hover{
    text-decoration: none;  
}


