@charset "UTF-8";

@font-face {
    font-family: 'xilosa';
    src: url('../fonts/xilosa_.ttf')format('opentype'),url('../fonts/xilosa_.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cordel';
    src: url('../fonts/Cordel Encarnado II.otf')format('opentype'),url('../fonts/Cordel Encarnado II.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'xilosa', cursive;
    --fonte3: 'cordel', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body {
    min-height: 97vh;    
    font-family: Arial, Helvetica, sans-serif;    
}

header {    
    background-color: white;    
    background-image: url('../imagens/Cacto8.jpg');
    background-repeat: no-repeat;
    background-position: center right;       
    color: black;
    text-align: center;   
    padding-bottom: 35px;        
}

header > h1 {
    padding-top: 50px;    
    font-family: var(--fonte3);    
    font-size: 8vw;         
}

header > p {
    padding-top: 40px;
    padding-bottom: 50px;  
    font-family: var(--fonte3);
    font-size: 1.3em;    
}

section {      
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;    
    padding-left: 30px;
    font-family: var(--fonte2);
    font-size: 4vw;
    font: bolder;   
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);             
}

section > p {        
    padding-bottom: 2em;       
}

.normal {
    background-color: #eaf0dd;
    color: black;    
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%); 
    border-radius: 20px 20px 0px 0px;  
}

.imagem{
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgb(0 0 0 / 47%);
    background-size: cover;
    background-attachment: fixed;
} 

.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.075);
    text-shadow: 1px 1px 0px black;
    border-radius: 20px;
}

#img01 {
    background-image: url('../imagens/joaninha-girassol.jpg');
    background-position: right center;
}

#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
}

footer > p {
    background-color: black;      
    color: white;
    font-size: 1.3em;
    text-align: center;     
    padding: 10px;    
}
        
footer a {
    color: var(--cor7);
    text-decoration: none; 
    font-style: italic;        
}

footer a:hover{
    text-decoration: underline;

}

