@charset "UTF-8";


:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

body {
    min-height: 97vh;
    background-color: darkgray;
    font-family: var(--fonte1);
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header {
    background-color: black;
    color: white;
    text-align: center;      
}
header > h1 {
    padding-top: 50px;    
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
    margin: 0px;    
}

header > p {
    padding-bottom: 50px;  
}